# Data Science Tools and Ecosytem

In this notebook, Data Science Tools and Ecosytems are summarized.

# Objectives:

* Notebook Interface
* Working with cells
* Markdown for documentation
* Code execution
* Data execution
* Data Visualization

Some of the popular languages that Data Scientists use are:
1. Algorithm
2. Outliers
3. Structured and Unstructured Data
4. Big Data
5. Model

Some of the commonly used Libraries used by Data Scientists includes:
1. Pandas
2. NumPy
3. SciPy
4. MatplotLib

# TABLE

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#### This is a simple arithmetic expression to multiply then add integers 
result =(3*4)+5 
result

17

In [4]:
#### This will convert 200 minutes to hours by dividing by 60
hours =200/60
hours

3.3333333333333335

## Author

Anita Jacobs